<html lang="en-US">        #open tag
<head>        #page header
<title>Atharva's Practice</title>
</head>
<style>
    body {background-color: whitesmoke;}
    h1   {color: coral;}
    p    {color: red;}
    </style>

<body style="background-color: white;">

    
    <!-- <img src = "http://mlamannadev.com/Images/Report1.png"> -->
     
    <!-- <a href="https://www.w3schools.com">Visit</a> -->
    <h1 style="text-align:center;">Good Morning Everyone</h1>
    <!-- <img src="C:\Users\mohde\OneDrive\Desktop\img_girl.jpg" alt="Girl in a jacket" width="50" height="60"> -->
    <img src = "C:\Users\mohde\OneDrive\Pictures\Screenshot_2021-06-01-21-58-29-310_com.instagram.android.jpg" width="80" height="90" alt = "Image not available">

    <p title="I'm a tooltip">Here I am baby.</p>

    <p title='John "ShotGun" Nelson'> hey i am here </p>
    <h1 style="font-size:60px;">Heading 1</h1>
    <h1 style="font-family: Verdana;">Heading 24</h1>

    <!--Here at down line we do font italic also with it also mark a specified worf-->
    <i> This is one unique
    <p>Don't be <mark>silly</mark> today.</p>
    </i>




<h1>This is a Heading</h1>
<p> <h1>This is a paragraph.</h1></p>
<h4 style="color: aqua;">This is colour styling</h4>
<h4 style="background-color:purple ;">This is background colour styling</h4>

<p style="color:red;">This is a red paragraph.</p>


<!-- <div style="background-color:black;color:white;padding:20px;">
    <h2>London</h2>
    <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
    <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
  </div>  -->
<!--   
<style>
table, th, td {                                 
    border: 10px solid wheat;
  }
  </style>


<table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>India</td>
      <td>South Africa</td>
      <td>Australia</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table> -->

  <style>
    .city {
      background-color: tomato;
      color: white;
      border: 5px solid black;
      margin: 50px;
      padding: 10px;
    }
    </style>
    </head>
    <body>
    
    <div class="city">
      <h2>London</h2>
      <p>London is the capital of England.</p>
    </div>
    
    <div class="city1">
      <h2>Paris</h2>
      <p>Paris is the capital of France.</p>
    </div>
    
    <div class="city">
      <h2>Tokyo</h2>
      <p>Tokyo is the capital of Japan.</p>
    </div>
    
    </body>
</body>
</html> #close tag

    <!--Here at down line we do font italic also with it also mark a specified worf-->

<!-- <h1>Stand There</h1>
<h2>This is heading 2</h2>
<h3>This is heading 3</h3> -->


